<header class="navbar navbar-expand-md d-print-none navbar-dark" data-bs-theme="dark">
  <div class="container">
    <a  class="navbar-brand" href="<%= root_path %>">
      <%= link_to root_path do %>
        <%= image_tag "java.png", width: "25%", height: "25%", alt: "Logo", class: "header-logo" %>
      <% end %>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="nav nav-pills ms-auto">
        <% if user_signed_in? %>
            <li class="nav-item"><div>Olá, <%= current_user.email %></div></li>
             <%= link_to "Sair", destroy_user_session_path, data: {turbo_method: :delete}, class: "nav-link" %>
        <% else %>
          <li class="nav-item">
            <div><%= link_to "Entrar", new_user_session_path, class: "nav-link" %></div>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</header>
